<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.swu.mapper.QuestionMapper">
    <resultMap id="QuestionResultMap" type="cn.edu.swu.entity.Question">
        <result column="id" property="id"/>
        <result column="problem" property="question"/>
        <result column="keywords" property="originalKeywords"/>
        <result column="answer" property="answer"/>
        <result column="type" property="type"/>
        <result column="media_type" property="mediaType"/>
    </resultMap>

    <select id="getAllQuestions" resultMap="QuestionResultMap">
        select * from question
    </select>

    <insert id="saveQuestion" parameterType="cn.edu.swu.entity.Question">
        insert into question(problem,keywords,type,media_type,answer)
        values(
          #{question.question},
          #{question.originalKeywords},
          #{question.type},
          #{question.mediaType},
          #{question.answer}
        )
    </insert>
</mapper>