<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.swu.mapper.QuestionMapper">
    <resultMap id="QuestionResultMap" type="cn.edu.swu.entity.Question">
        <result column="id" property="id"/>
        <result column="problem" property="question"/>
        <result column="keywords" property="originalKeywords"/>
        <result column="answer" property="answer"/>
        <result column="type" property="type"/>
        <result column="media_type" property="mediaType"/>
    </resultMap>

    <select id="getAllQuestions" resultMap="QuestionResultMap">
        select * from question where flag != 0
    </select>

    <insert id="saveQuestion" parameterType="cn.edu.swu.entity.Question">
        insert into question(problem,keywords,type,media_type,answer)
        values(
          #{question.question},
          #{question.originalKeywords},
          #{question.type},
          #{question.mediaType},
          #{question.answer}
        )
    </insert>

    <update id="updateQuestionKeywords">
        UPDATE question
        SET keywords = #{keywords}
        where id = #{id} And flag != 0
    </update>

    <update id="updateProblem">
        UPDATE question
        SET problem = #{problem}
        where id = #{id} And flag != 0
    </update>

    <update id="updateFlag">
        UPDATE question
        SET flag = #{flag}
        where id = #{id} And flag != 0
    </update>

    <update id="updateType">
        UPDATE question
        SET `type` = #{type}
        where id = #{id} And flag != 0
    </update>

    <update id="updateMediaType">
        UPDATE question
        SET media_type = #{mediaType}
        where id = #{id} And flag != 0
    </update>

    <update id="updateAnswer">
        UPDATE question
        SET answer = #{answer}
        where id = #{id} And flag != 0
    </update>
</mapper>