/* login页面  ⬇   ️*/
.div_float{float: left;}
.div_float_far{overflow: hidden;}
#login_table{margin-top: 10%;margin-left: 35%;margin-bottom: 10%;}
.btn_login{margin-left: 45%;}
/* login页面  ⬆   */
/* indexPage    ⬇  */
.submit_btn{margin: 10px 45%;}
/* indexPage    ⬆   */
