/* login页面  ⬇   ️*/
.div_float{float: left;}
.div_float_far{overflow: hidden;}
#login_table{margin-top: 10%;margin-left: 35%;margin-bottom: 10%;}
.btn_login{margin-left: 45%;}
/* login页面  ⬆   */
/* indexPage    ⬇  */
#basic-addon1{font-size: larger;}
#result{padding-top: 20px;background-color: rgba(255,255,255,0.8)}
/* indexPage    ⬆   */
/*  adminPage   ⬇   */
/* table    ⬇   */
table.altrowstable {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
}
table.altrowstable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
table.altrowstable td {
    text-align: center;
    /*display: table-cell;
    vertical-align: middle;*/
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
.oddrowcolor{
    background-color: #d4e3e5;
}
.evenrowcolor{
    background-color:#c3dde0;
}
table.altrowstable thead tr th{width: 80px;text-align: center;background-color: #31b0d5;}
/* table    ⬆   */
/**/
#barcon{text-align: center;}