<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>数据处理</title>

    <link rel="stylesheet" th:href="@{/css/webpages.css}">
    <script th:src="@{/js/webPages.js}" type="text/javascript"></script>

    <!--引入 bootstrap 所需的静态文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.4.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <!--<script th:src="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>-->

</head>
<body>

<!-- 导航栏    ⬇  -->
<div class="navi_bar"></div>
<!-- 导航栏    ⬆   -->

<!-- -->
<div>
    <div style="float: left;"><button type="button" id="btn_back">返回</button></div>
    <div style="float: right;">
    <button type="button" onclick="edit_one(-1)" id="btn_add" style="display: block;">添加</button></div>
    <!-- Table -->
    <table class="table">
        <thead>
        <tr>
            <th>序号</th>
            <th>问题</th>
            <th>类型</th>
            <th>媒体类型</th>
            <th>回答</th>
            <th>    </th>
        </tr>
        </thead>
        <tbody id="idData">

        </tbody>
    </table>
    <div id="barcon" name="barcon"></div>
</div>

<script type="text/javascript">
    initial();/*加载……*/
    $("#btn_back").click(function () {$("#btn_back").css("display","none");initial();});
</script>
</body>
</html>