<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>数据处理</title>

     <link rel="stylesheet" th:href="@{/css/webpages.css}">
    <script th:src="@{/js/webPages.js}" type="text/javascript"></script>
    <!--引入 bootstrap 所需的静态文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.4.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>

</head>
<body>

<div class="navi_bar"></div>



<script type="text/javascript">
    getNavigation();/*加载导航栏*/

</script>
</body>
</html>