<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>

    <link rel="stylesheet" th:href="@{/css/webpages.css}">
    <script th:src="@{/js/webPages.js}" type="text/javascript"></script>
    <!--引入 bootstrap 所需的静态文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.4.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <!--<script th:src="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>-->
</head>
<body>
<div class="navi_bar"></div>

<div class="jumbotron">
    <div class="container">
        <div style="width: 50%;margin: 0 auto;">
            <h3>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1" >问题</span>
                <input id="question_box" type="text" class="form-control" placeholder=" " aria-describedby="basic-addon1">
            </div>
            </h3>
            <a id="submit" class="submit_btn btn btn-success">提交问题</a>
            <div>
                <form id="result" type="text"></form>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

    getNavigation();//加载导航栏

    $("#submit").click(function () {
        var question = $("#question_box").val();

        var url = "/v0.01/askOnWeb/askOneQ";
        var args = {question:question};

        console.log(question);

        $.post(url,args,function (res) {
            console.log(res);
        })
    });

</script>
</body>
</html>