<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>

    <link rel="stylesheet" th:href="@{/css/webpages.css}">
    <!--引入 bootstrap 所需的静态文件-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<!-- 导航栏    开始    ↓ -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">蚕</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">登录界面<span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">待开发</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">获取帮助</a></li>
                        <li><a href="#">关于我们</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- 导航栏    结束    ↑ -->

<!-- body   开始    ⬇️-->

<div class="jumbotron div_float_far">
    <!-- 注册表单    开始    ↓ -->
    <div class="panel panel-default div_float" id="login_table">
        <div class="panel-heading">
            <h3 class="panel-title">111</h3>
        </div>
        <div class="panel-body" style="width: 500px;">

            <div class="input-group">
                <span class="input-group-addon">账&nbsp;&nbsp;&nbsp;&nbsp;号</span>
                <input id="input_sign_in_name" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
            </div>

            <div class="input-group" style="margin-top: 10px;margin-bottom: 20px;">
                <span class="input-group-addon">密&nbsp;&nbsp;&nbsp;&nbsp;码</span>
                <input id="input_password" type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
            </div>

            <button id="login_btn" class="btn btn-success btn_login">登陆</button>

            <div id="tips" style="display: none;" class="alert alert-danger" role="alert"></div>

        </div>
    </div>

    <div>
    <span th:if="${session.account} != null" hidden="hidden" >
        <p id="account_id" th:text="${session.account.id}"></p>
        <p id="account_signInName" th:text="${session.account.accountName}"></p>
        <p id="account_nickName" th:text="${session.account.accountPassword}"></p>
    </span>
    </div>
    <!-- 注册表单    结束    ↑ -->

</div>
<!-- body   结束  ⬆️-->
<script type="text/javascript">

    $("#login_btn").click(function () {
        var login_name = $("#input_sign_in_name").val();
        var password = $("#input_password").val();

        if(login_name == "" || password == ""){
            window.alert("用户名和密码不能为空！");
            return;
        }

        var url = "/api/v0.01/account/login";
        var args = {accountName:login_name,accountPassword:password};

        console.log(login_name);
        console.log(password);

        $.post(url,args,function (res) {
            if(res == "success"){
                $("#tips").hide();
                window.location.href = "/index";
            }
            else {
                $("#tips").text("用户名或密码错误！");
                $("#tips").show();

                return;
            }
        });
    });
</script>

</body>
</html>