<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>问题查看</title>

    <link rel="stylesheet" th:href="@{/css/webpages.css}">
    <script th:src="@{/js/webPages.js}" type="text/javascript"></script>

    <!--引入 bootstrap 所需的静态文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.4.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <!--<script th:src="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>-->
    <style>
        body{background-color: #1ffff0;}
        table.altrowstable thead tr td{width: 80px;text-align: center;background-color: #449d44;}
    </style>
</head>
<body>

<!-- 导航栏    ⬇  -->
<div class="navi_bar"></div>
<!-- 导航栏    ⬆   -->

<!--table ⬇ -->
<div>
    <table class="table altrowstable" id="alternatecolor">
        <thead>
        <tr>
            <td>序号</td>
            <td>问题</td>
            <td>回答</td>
            <td>记录时间</td>
            <td>    </td>
        </tr>
        </thead>
        <tbody id="idData">

        </tbody>
    </table>
    <nav id="barcon" name="barcon"></nav>
</div>
<!--table ⬆ -->
</body>

<script>
    initial();
</script>
</html>